.devart-timer-link {
  text-decoration: none;
  white-space: nowrap !important;
}
.devart-timer-link-minimal {
  width: auto !important;
}
.devart-timer-link-minimal .devart-timer-link-icon ~ span {
  display: none;
}
.devart-timer-link-icon {
  margin: -2px 0;
  padding-right: 3px;
  display: inline-block;
  vertical-align: middle;
}
.devart-timer-link-start > .devart-timer-link-icon:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhxJREFUeNqkU01oE0EU/lrSVhvpVqoFK5VFTC1RSPAiorXFm3gJnnrwkKAXI2pBRHooBPGitwrmJNTqpWrBFkTIQUxEWlFMVyiVNmpzEIqRYDZN+hNDnvMmO2s2/lz84GPfvHnfm9lvZkBEqGNQME6/I27NOeprB7qgUav4/mNDsg6GVSt1DbILoAsaglp6w0RkeQZT31Iwy5s8B83VgsBOD67vPYo9LW2cMgX9gulGVDHFdUYhA/+bcYyvzNtiWS3iT+s5aKUGvE3OyZ6WBi7BoKCPVx5ITjhWHWjvRk6Mve4O3Ow6gmD4EhZTHzH/+iWX+FirGshtK7FvWyfihwbRLpowVlcLtvja0EWgWATcbkitckZLjBKe35LfcqViO/ZhcYlOnwnRgcN99OTpMyLTJJqetuddtf8pW+46iOScgVD4MsLnQrg/8QiFQhE3RoYR6O8DJieBUsn2pxF1eJf/il6PB/s9+xC9OyZzY9FRBE6dBGIxh1iZaJvGu3hlfkFlaxPuRW/jwcPHOHH8GHp7PMDaGpDNVoubmx07SHDA58w4v9svm+WbtshfYHFmswy0tgJeb1Wl60qfUFeXltdzdCX1QhpzdWGFdsQWqH/msyTHnJOYnSXK55WHQXUTDetcEVnK4E46iz/hgt6BSE+nGr7n26hMDFjXE2e7t2OwS0Ob65e/HHOO59ShWZp/P6a/wPGY8L/P+acAAwCVW9tUr5j5AQAAAABJRU5ErkJggg==");
}
.devart-timer-link-stop > .devart-timer-link-icon:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgxJREFUeNqkUz1IW1EU/t7LH0RREUdBh6YVMrSLrUM10kEsRSoFjUPFBDIFajso0iHg0MFVh0yBhGbRdGjB0sHJdCoE2ggFtS0SJxFBtHkvkGdfrvecvvd4SauLH3zv3nfP+c45995zIYRAC2OS2+JfbFu2Jn/3T79k2a1oaBqzBWXLl3UKRwH6JcuSnY2TExiFAv6UShC1GtmgBIPwDg7CH41C7emhpXPJe5IVFX/xgcWVCmqLi7goFh0xgeaN42PogQBKX7/RUqel4QpicsxSZhK7s3rCYQhdh6e3F0Z0BrHkPPZ//sL3L5/t2HGv/FAALtsWq319CC4vQ2lr4/9qVXPES69eQJyeQunuBmvtk6nOzYnfU1M8CtN0Tmx3/4d49jwuwg+GxfuPn4R5dCT0VMqxe937JPhGR1Eq7yCefIlkIo636wVomo43qdd4OnQf+sICb8uGihaYBwcYCIVwJ3QL6UyW17LpVUw+eYzaykqTmOBUQIdGVZh7e2j3qMil15DfeIdHIw8xcDsEcXaGxuGh4+uuoMiR5D0T/GNj7NBu1HkLtljp6mKb25e0VEFOMuKfnobS0YHA7CzqmQyMrS2+DQJlJnEgkQBkL/jGx+0AObsTqQvv0qSez8PY3MT/4J+Y4AQWdqgb7UOctNqTo/sikaZ90pzWXJnPLc31j+kKND0m3PQ5XwowALQwvNRtiL3wAAAAAElFTkSuQmCC");
}
.devart-timer-link-minimal.devart-timer-link-start > .devart-timer-link-icon:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiNJREFUeNqklDuIE1EUhv87mXdkA+O6qMTsihjBsRIriZZbWwmCj0JQKxutLLZQsLPZShELHyBso4jVWrqIhYWiKxoQQgyuq+tA4mYemUnGeyZkSDKTB3jgDgzn/B/ncc9FGIaYdJRnl0rTxDH6DJvy4Ox5tNo34foFdEIWOwQWQpWqkDNL3sUnj4Z1CZhy98wn3WPmwuwe7N41B13VYp/tOvj5+xcqWxuwlXDdu/L0yEiYsnzayeuGenjhACwxQM2xYPlN+J02JCEDQ8oirxkwAhGfK99Qsy3Xu7qiJWCUUV7MmWbxEN5tf4fVamKUGXIWx3bsw3r5K2pBPc5Q6PWISisW9uNtozIWREZ+iqN40kU97sGo2Qfn8vgQbKIRuLGovHgb5wrHU4EUR/Gki4YVw/jUpBk9kVFB34n7Ry9E0JOzxdQMSRdNvQfTBZltBtsjyyLoaukaXvEzDCUd6SOY+vxySZVkNHwHk+wEBxG0v3TSkZ44gnvq3prl/J0K9nqrjMW1O3hcfTMAIz1xxN7NDlsBY5qUCqnaf3D94wpebLxP+LiuuxncujBakYY7j5yWgNz68nIgk+RY3a4+hvFdg916GNYdsD5gcfXG2LIpnl8LPkF5KbEBcHyT7c3xH3Fi/+AFCH/UAU2KNyCxm2h3VBj6QIapGVk2kBHSd7P/1UCzZfLSgRkVTBYHm009otKy8vhX43/fM0z50s5PE/dPgAEA346Fpg6XM2IAAAAASUVORK5CYII=");
}
.devart-timer-link-minimal.devart-timer-link-stop > .devart-timer-link-icon:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcpJREFUeNqsVMtKw1AQnZvG1EQKbSUUoWIXYhE3in/Q4Mat0E8Q/QeX/oPiJ/QD3Ej6B6KbIhUXlRZKiaK0mNhXrnMijdqXpXp2N5lzZubMnSuklPRfUMd9vMrltlUhTvpS7nMqffBdEHkRIS57Up7uFYu3wzwxXFnRss5I044S6TSZqRTphhH+81yXnEaDXmo1ok7nPGfbxxPFbMsq66a5vpbNKolOh/znZ5KtFlG/TxSJkIjFSFlephdNo8dy2fcc58Gy7eyIGCpaNM3Dza0tZaFS+RSZAIh2Mxm6K5X8d8e5GFQYiMGjSDR6s7G7S/FqlaTn/Wq20HV6XV2l++tr6rfbO/BQCabAZic5U7xen0kIQBziwQM/nCamluRMkj36jlihMCLSyue/BNmKJA/qifk4B5Up0aiuTfFoGsADP9BhvzJ8IJ/HPg/AAz8QY+Mq3WaT5Jxi4IEftomb/dbrzSUGHvjhALAiTrt9sKLrE82eBOYF/LAy7JrLGeozXosBEA8e+KEYLhyrn9dc15+1XcQhHrzB0o/sJve/njYMZbjl4YogxMzxu/n91eBLfGSoKpk88iVV/VENPEJrqGjqq/Hv79lf8CHAAMzjCvjjM5qDAAAAAElFTkSuQmCC");
}
.devart-timer-link-asana {
  margin: 1em 0;
}
.devart-timer-link-asana-subtask.devart-timer-link-minimal {
  opacity: 0;
}
.ItemRow:hover .devart-timer-link-asana-subtask.devart-timer-link-minimal:hover {
  opacity: 1;
}
.ItemRow:hover .devart-timer-link-asana-subtask.devart-timer-link-minimal:not(:hover) {
  opacity: 0.54;
}
.devart-timer-link-assembla {
  margin-top: 1em !important;
}
.devart-timer-link-axosoft {
  float: right;
  margin-top: 10px;
}
.devart-timer-link-bitbucket {
  margin-right: 10px;
}
.devart-timer-link-bugzilla {
  margin: 0 0.5em;
  font-weight: normal;
  font-size: smaller;
}
.devart-timer-link-freshdesk a:hover {
  text-decoration: none;
}
.devart-timer-link-google-mail {
  margin-left: 15px;
  font-size: smaller;
  color: #727272;
}
.devart-timer-link-google-calendar-detailed {
  margin-left: 30px;
  margin-top: -2px;
  margin-bottom: 10px;
}
.devart-timer-link-google-calendar-popup {
  margin-right: 10px;
}
.devart-timer-link-google-calendar-popup-modern {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3c4043;
}
.devart-timer-link-google-inbox {
  opacity: 1 !important;
}
.devart-timer-link-google-keep-item {
  position: absolute;
  top: 8px;
  right: 32px;
  opacity: 0;
}
.CmABtb.RNfche:hover .devart-timer-link-google-keep-item:hover {
  opacity: 1;
}
.CmABtb.RNfche:hover .devart-timer-link-google-keep-item:not(:hover) {
  opacity: 0.54;
}
.devart-timer-link-google-keep-note {
  margin: 0px 8px;
}
.devart-timer-link-google-keep-note .devart-timer-link-icon {
  vertical-align: top;
  margin-top: 7px;
}
.devart-timer-link-openproject .devart-timer-link-icon {
  line-height: 1 !important;
}
.devart-timer-link-pipedrive {
  margin-top: 4px !important;
  margin-right: 8px !important;
}
.devart-timer-link-pipedrive .devart-timer-link-icon {
  line-height: 1 !important;
}
.devart-timer-link-openproject-container {
  margin-top: 20px !important;
}
.devart-timer-link-pivotaltracker {
  margin-top: 1em;
}
.devart-timer-link-podio {
  width: auto !important;
  margin-top: 1px !important;
}
.devart-timer-link-producteev {
  margin: 0 1em;
}
.devart-timer-link-producteev-minimal {
  position: absolute;
  top: 5px;
  right: 20px;
  opacity: 0;
}
.subtasks-list li:hover .devart-timer-link-producteev-minimal:hover {
  opacity: 1;
}
.subtasks-list li:hover .devart-timer-link-producteev-minimal:not(:hover) {
  opacity: 0.5;
}
.devart-timer-link-sprintly > a {
  display: block;
  padding: 7px;
}
.devart-timer-link-sprintly:hover > a {
  color: #fff !important;
}
.devart-timer-link-teamweek {
  margin: 0 0 0 8px;
}
.devart-timer-link-teamwork {
  margin-left: 7px;
}
.devart-timer-link-teamwork > a {
  width: auto !important;
  transform: scale(1) !important;
  font-size: 13px !important;
  margin-right: 10px !important;
}
.taskRHS .devart-timer-link-teamwork > .devart-timer-link-start {
  display: none !important;
}
.taskRHS:hover .devart-timer-link-teamwork > .devart-timer-link-start {
  display: initial !important;
}
.task-row .devart-timer-link-teamwork-desk-task.devart-timer-link-start {
  display: none !important;
}
.task-row:hover .devart-timer-link-teamwork-desk-task.devart-timer-link-start {
  display: initial !important;
}
.devart-timer-link-teamwork-desk-ticket {
  margin-top: 1em;
}
.devart-timer-link-tfs {
  float: left;
  line-height: 32px;
  padding-right: 10px;
}
.task_item .devart-timer-link-todoist.devart-timer-link-start {
  visibility: hidden !important;
}
.task_item:hover .devart-timer-link-todoist.devart-timer-link-start {
  visibility: visible !important;
}
.devart-timer-link-trac {
  margin-left: 0.5em;
  margin-right: 0.5em;
  float: right;
}
.devart-timer-link-trello {
  margin-top: 5px;
  opacity: 0;
}
.checklist-item:hover .devart-timer-link-trello {
  opacity: 1;
}
.devart-timer-link-test-rail {
  padding: 0px 10px !important;
}
.devart-timer-link-test-rail .devart-timer-link-icon {
  line-height: 10px;
}
.devart-timer-link-wrike {
  font-size: 14px !important;
  margin-top: 10px !important;
  margin-right: 12px !important;
}
.devart-timer-link-youtrack {
  font-size: 13px;
}
.devart-timer-link-wunderlist-detail .devart-timer-link-icon {
  border: 8px solid transparent;
}
.devart-timer-link-zendesk {
  margin-top: 5px;
  float: right;
}
.devart-timer-link-zoho-project {
  float: right;
  font-weight: normal;
  margin-right: 10px;
}
.devart-timer-link-jira-next {
  margin-left: 8px;
}
.task__toolbar .devart-timer-link-clickup {
  margin-right: 1rem;
}
.task-todo-item .devart-timer-link-clickup.devart-timer-link-start,
.checklist-todo-item .devart-timer-link-clickup.devart-timer-link-start {
  visibility: hidden !important;
}
.task-todo-item:hover .devart-timer-link-clickup.devart-timer-link-start,
.checklist-todo-item:hover .devart-timer-link-clickup.devart-timer-link-start {
  visibility: visible !important;
}
