ytd-grid-video-renderer,
ytd-shelf-renderer,
ytd-compact-video-renderer,
ytd-video-renderer,
ytd-playlist-video-renderer,
ytd-playlist-panel-video-renderer,
ytd-playlist-renderer,
ytd-radio-renderer,
ytd-compact-radio-renderer,
ytd-compact-playlist-renderer,
ytd-comment-renderer,
ytd-channel-renderer,
ytd-mini-channel-renderer,
ytd-grid-channel-renderer,
.ytp-videowall-still,
#page li.yt-shelf-grid-item,
#page .expanded-shelf-content-list .expanded-shelf-content-item-wrapper,
#page #results .item-section .yt-lockup-video,
#page #results .item-section .yt-lockup-playlist,
#page #results .item-section .yt-lockup-channel,
#page .pl-video-table .pl-video,
#page .playlist-videos-list .yt-uix-scroller-scroll-unit,
#page .feed-item-container,
#page .video-list .video-list-item,
#page .comment-renderer,
#page .ytp-videowall-still {
  visibility: hidden;
}

.videoblocker-blocked {
  display: none!important;
}

.videoblocker-allowed {
  visibility: visible!important;
}
